declare -A repo_conf

repo_conf["header"]='
include("/etc/mock/templates/centos-stream-8.tpl")
include("/etc/mock/templates/epel-8.tpl")
'

repo_conf["repo"]='
config_opts["dnf.conf"] += """
[dci]
name=Distributed CI - CentOS 8
baseurl=https://packages.distributed-ci.io/repos/current/el/8/x86_64/
gpgcheck=0
enabled=1
gpgkey=https://packages.distributed-ci.io/RPM-GPG-KEY-DCI-2024

[dci-extras]
name=Distributed CI - Extras - CentOS 8
baseurl=http://packages.distributed-ci.io/repos/extras/el/8/x86_64/
gpgcheck=0
enabled=0

[centos-openstack-ussuri]
name=CentOS-$releasever - OpenStack ussuri
baseurl=http://vault.centos.org/$contentdir/$releasever/cloud/$basearch/openstack-ussuri/
gpgcheck=1
enabled=0
gpgkey=https://raw.githubusercontent.com/rdo-infra/rdo-release/ussuri-rdo/RPM-GPG-KEY-CentOS-SIG-Cloud

[centos-ansible-29]
name=CentOS Configmanagement SIG - ansible-29
#mirrorlist=http://mirrorlist.centos.org/?release=$releasever&arch=$basearch&repo=configmanagement-ansible-29
baseurl=http://vault.centos.org/$contentdir/$releasever/configmanagement/$basearch/ansible-29/
gpgcheck=0
enabled=1

[nodesource-nodejs]
name=Node.js Packages for Linux RPM based distros
baseurl=https://rpm.nodesource.com/pub_22.x/nodistro/nodejs/$basearch
gpgcheck=1
enabled=1
gpgkey=https://rpm.nodesource.com/gpgkey/ns-operations-public.key
"""
'

repo_conf["misc"]='
config_opts["use_host_resolv"] = False
config_opts["files"]["etc/hosts"] = """
127.0.0.1 pypi.python.org
"""
config_opts["nosync_force"] = True
config_opts["module_setup_commands"] = [
    ("install", "nodejs:18/common")
]
'

# Project specific settings. Needs to be overrided
repo_conf["project_specific"]='
'

